.food-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images//login-bg.jpg");
  position: absolute;
  background-position: center;
  background-size: cover;
}

.category-button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.category-button button {
  display: flex;
  width: 75px;
  justify-content: center;
}

.food-cards {
  display: flex;
  margin: 50px;
  width: 80%;
  flex-wrap: wrap;
}

.img {
  display: flex;
  border-radius: 10px;
  width: 350px;
  box-shadow: 1px 1px rgb(197, 197, 197);
}

.item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.food-name {
  margin-top: 15px;
  text-decoration: none;
  max-width: 300px;
}
